* {
  margin: 0;
  padding: 0;
}

body {


}

.container {

  box-shadow: 17px -7px 15px -7px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  border: 5px solid #fff;
  margin: 2rem 2rem;
  border-radius: 20px;
  min-width: 90vw;
  min-height: 90vh;
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 15px 15px 15px 15px;
  width:20%;
  background-color: #DDD6F3;
}

.sideImg {
 text-align: center;
 padding: 4rem 1rem;
}

.sideImg img {
  width: 35%;
}

.menu ul {
  margin-left: 1.5rem;
}

.menu ul li {
  list-style: none;
  text-align: center;
  margin: 0.5rem 0;
  padding: 1rem;
}

.active {
  background-color:white;
  border-radius: 30px 0 0 30px;
}

.menu ul li a{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size:1.5rem;
  color: #7c678c;
}

.main {
  overflow: scroll;
  border-radius:0 13px 13px 0;
    width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}




.title-img {
 position: relative;
 max-width: 15vw;
 z-index: 3;
 margin-top: 2rem;
 transition: all 1s ease-in-out;
 opacity: 0;
}

.title-img img{
  width: 100%;
}

.title-hi {
  background-color: #eeaeca;
  position: absolute;
  top:-10px;
  right:-20px;
  transform: rotate(10deg);

  padding: 5px 10px;
  border-radius: 5px;
  z-index: -1;
}

.title-hi p {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
}

.title-desc {

  margin-top: 10rem;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.title-desc h1 {
    font-size: 2rem;
cursor: pointer;
    font-family: 'Nunito', sans-serif;

}

.wavy{
  color: #22a4be;

}

.wavy:hover {
  -webkit-text-decoration: underline wavy #22a4be;
  text-decoration: underline wavy #22a4be;

}


.footer-icons {
  margin-top: 3rem;
  text-align: center;
}


.footer-icons i {
  padding: 10px;
  color: #AE58FF;
}

.footer-icons p {
  font-family: 'Gloria Hallelujah', cursive;

  color: #404040;
  font-size: 15px;
  padding: 5px;
}



/*aboutme*/
.aboutme-main {
  height: 90vh;
overflow-y: scroll;
  border-radius:0 13px 13px 0;
    width:80%;

  background-color: white;
}


.chat, .chatTwo, .chatThree, .chatFour, .chatFive{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid #FFF3F3;
  background-color: #F9DFDF;
  border-radius: 15px;
opacity: 0;
  margin: 30px 0 20px 0;
  transition: all 1s ease-in-out;

}

.answer, .answerTwo, .answerThree, .answerFour,
.answerFive, .answerSix, .answerSeven, .answerEight, .answerNine{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
   line-height:1.6;
  border: 2px solid #E9F3FF;
  background-color: #DEEDFF;
  border-radius: 15px;
  padding: 10px;
  margin: 30px 0 20px;
  transition: all 1s ease-in-out;
  opacity: 0;

}

.chatTwo, .chatFive {
  width: 500px;
}

.chatThree, .chatFour{
  width: 550px;
}




.chat img, .chatTwo img, .chatThree img, .chatFour img, .chatFive img {

  width: 40px;
  padding: 10px;

}

.answer img, .answerTwo img, .answerThree img, .answerFour img,
.answerFive img, .answerSix img, .answerSeven img, .answerEight img, .answerNine img {
  width: 50px;
  padding: 10px;
}

.chat p, .chatTwo p, .chatThree p, .chatFour p, .chatFive p{
  font-family: 'Hind', sans-serif;
  padding: 10px;
}

.answer p, .answerTwo p, .answerThree p, .answerFour p,
.answerFive p, .answerSix p, .answerSeven p, .answerEight p, .answerNine p {
  font-family: 'Hind', sans-serif;
  padding: 10px;
}
