* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}

.container {
  box-shadow: 17px -7px 15px -7px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  border: 5px solid #fff;
  margin: 1.3rem 2rem;
  border-radius: 20px;
  min-width: 90vw;
  min-height: 90vh;
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 15px 15px 15px 15px;
  width:20%;
  background-color: #DDD6F3;
}

.sideImg {
 text-align: center;
 padding: 3rem 1rem;
}

.sideImg img {
  width: 35%;
}

.menu ul {
  margin-left: 1.5rem;
}

.menu ul li {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 0.2rem 0;
  padding: 1rem;
}

.mene ul li a {
  display: block;
  padding: 10px;
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}

.active{
  background-color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.active .top-curve {
  position: absolute;
  top:-20px;
  left:0;
  width: 100%;
  height: 20px;
  background-color: white;
}

.active .top-curve::before {
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 20px;
  border-bottom-right-radius: 25px;
  background-color: #DDD6F3;
}

.active .bottom-curve::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 20px;
  border-top-right-radius: 25px;
  background-color: #DDD6F3;
}

.active .bottom-curve {
  position: absolute;
  bottom: -20px;
  left:0;
  width: 100%;
  height: 20px;
  background-color: white;
}

.menu ul li a{
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  font-size:1.5rem;
  color: #7c678c;
  font-weight: bold;
}


.main {
  overflow: scroll;
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-img {
 position: relative;
 max-width: 15vw;
 z-index: 3;
 margin-top: 2rem;
 transition: all 1s ease-in-out;
 opacity: 0;
}

.title-img img{
  width: 100%;
}

.title-hi {
  background-color: #eeaeca;
  position: absolute;
  top:-10px;
  right:-20px;
  transform: rotate(10deg);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: -1;
}

.title-hi p {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
}

.title-desc {
  margin-top: 10rem;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.title-desc h1 {
  font-size: 2rem;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

.wavy{
  color: #22a4be;
}

.wavy:hover {
  -webkit-text-decoration: underline wavy #22a4be;
  text-decoration: underline wavy #22a4be;
}

.footer-icons {
  position: relative;
  margin-top: 3rem;
  text-align: center;
}

.footer-icons i {
  padding: 10px;
  color: #7c678c;
}

.footer-icons i:hover {
  color: #22a4be;
  transition: all 1s ease-in-out;
}

.footer-icons p {
  font-family: 'Gloria Hallelujah', cursive;
  color: #404040;
  font-size: 15px;
  margin-top: 40px;
  padding: 5px;
}


/*aboutme*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFF3F3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F2F8FF;
}

.aboutme-main {
  position: relative;
  height: 90vh;
  overflow-y: scroll;
  border-radius:0 13px 13px 0;
  width:80%;
  background-color: white;
}

.msg {
  display: flex;
  align-items:flex-end;
}

.rightSide{
  flex-direction: row-reverse;
}

.left-msg {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFF3F3;
  background-color: #F9DFDF;
  border-radius: 15px;
  margin: 30px 0 20px 0;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.left-msg img {
  width: 2rem;
}

.left-msg p, .right-msg p{
  font-family: 'Hind', sans-serif;
  padding: 10px;
}

.right-msg{
  width: 40rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #E9F3FF;
  background-color: #DEEDFF;
  border-radius: 15px;
  margin: 30px 0 20px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.right-msg img{
width: 3rem;
}

/*project*/
.project-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow-y: scroll;
  border-radius:0 13px 13px 0;
  width:80%;
  height: 90vh;
  margin: 0 auto;
}

.file-container{
 padding-left: 7rem;
 display: grid;
 grid-template-columns: auto auto auto;
 grid-row-gap: 4rem;
}

.file {
  position: relative;
}

.folder {
  width: 10rem;
}

.folder p {
  margin-top: 10px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.folderback {
  padding: 10px;
  width: 9rem;
}

.folderfront {
  z-index: 3;
  width:9.2rem;
  position: absolute;
  top:35px;
  left:10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.page{
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  top:20px;
  left:20px;
  width: 8rem;
  height: 7rem;
  border: 1px solid black;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  transition: all 1s ease-in-out;
}

.page img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.project-icon {
  position: relative;
  padding-left:2rem;
  padding-top: 2rem;
  width: 9rem;
  z-index: 3;
}

.project-icon img {
  width: 100%;
}

.title-project {
  background-color: #eeaeca;
  position: absolute;
  top:60px;
  left:-60px;
  transform: rotate(-7deg);
  padding: 0.5rem;
  border-radius: 5px;
  z-index: -1;
}

.title-project p {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
}

/*writing*/
.writing-main{ 
  width: 80%;
}

.writing-header{
  margin-top: 30px; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.writing-img {
  position: absolute;
  top: -10px;
  left:310px;
  opacity: 0;
  width: 50px;
  margin-left: -310px;
  transition: all 1s ease-in-out;
}

.writing-txt {
  font-size: 13px;
  position: relative;
  border-radius: 5px;
  font-family: 'Gloria Hallelujah', cursive;
  width: auto;
  height: 70px;
}


.note-container {
display: flex;
flex-direction:column;
justify-content: baseline;
align-items: center;
}


.note {
  margin-top: 30px;
  -webkit-box-shadow: 8px 8px 0px 1px #7c678c;
  box-shadow: 8px 8px 0px 1px #7c678c;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  border: 2px solid #7c678c;
  width: 600px;
  border-radius: 10px;
}

.note:nth-of-type(2){
  margin-top: 50px;
}

.note-top{
  border-bottom: 2px solid black;
  height: 25px;
}

.note-top span{
  margin-top: 6px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
 
}

.note-top span:nth-child(1){
  background-color: #f95c58;
  margin-left: 10px;
}

.note-top span:nth-child(2){
  background-color: #d7cdcf;
}

.note-top span:nth-child(3){
  background-color: #28c941;
}


.note-head {
  padding: 10px;
}

.note-header:hover{
  text-decoration: underline wavy #22a4be; 

}
.note-body {
  padding: 10px;
}

.note-bottom {
  padding: 10px;
  text-align: right;
}

.readmore:hover .fa-hand-o-right {
  transition: all 0.7s ease-in-out;
  transform: translateX(20%);
}









